@model HTTP5204_PassionProject_N01437602.Models.UserDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.UserFirstName @Model.UserLastName?</h2>

<h3 class="warning">Warning: This action cannot be reversed.</h3>

@Html.ActionLink("Cancel", "List")
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserFirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserBio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserBio)
        </dd>
    </dl>

    @using (Html.BeginForm("Delete", "User", new { id = Model.UserID }))
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
