@model IEnumerable<HTTP5204_PassionProject_N01437602.Models.ProductDto>


@{
    ViewBag.Title = "List";
}

<h2>Product Database</h2>

<p>
    @Html.ActionLink("Add New Product", "Create")
</p>


<p>
    @using (Html.BeginForm("List", "Product", FormMethod.Get))
    {
        @Html.TextBox("search") <input type="submit" value="search" />
    }
</p>

<p>@Html.ActionLink("View Full Product Database", "List")</p>

<div class="productsContainer">

    @if (Model.Count() == 0)
    {
        <p>There are no results for that search.</p>
    }
    else
    {

        foreach (var product in Model)
        {
            <div class="product">
                <div class="_product">
                    <div class="productTitle">
                        @Html.ActionLink(product.ProductName, "Details", new { id = product.ProductID })
                    </div>
                    @{
                        string pic = "/Content/Products/default-product-icon.jpg";
                        string alt = "No Product Image Provided";

                        if (product.ProductHasPic)
                        {
                            pic = "/Content/Products/" + product.ProductID + "." + product.ProductPicExtension;
                            alt = "Image of a " + product.ProductName;
                        }
                    }
                    <div class="imgContainer">
                        <img src="@pic" alt="@alt" />
                    </div>
                    <div class="underImg">
                        <p>$@product.ProductPrice</p>
                        <nav class="linkNav">
                            <span class="editDelLink">@Html.ActionLink("Edit", "Edit", new { id = product.ProductID }) | @Html.ActionLink("Delete", "DeleteConfirm", new { id = product.ProductID })</span>
                        </nav>
                    </div>
                </div>
            </div>
         }
    }
</div>
